{% extends 'Demo/Base.twig' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{# <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/> #}

{# <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script> #}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>


{% endblock %}
{% block container %}




<div class="container">
{% if message_error is defined %}
    {% for message in message_error %}
<div class="alert  alert-success " >
{{message}}

    </div>
    {% endfor %}
{% endif %}



    <div class="row content text-left">
            <h1>User</h1>
     <br><br>   
        <div class="col-sm-11 text-left">
               




    {% if readonly %}
        {% set path = '/user/'~ id ~'/edit' %}
    {% else %}
        {% set path =  '/users/'~ id ~'/save'   %}
    {% endif %}
    <form method="POST" action="{{ path }}">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="firstname" value="{{user.firstname}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="lastname" value="{{user.lastname}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="position" value="{{user.position}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="city" value="{{user.city}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Start Date</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="startdate" value="{{user.startdate}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-10">
                <input type="text" {{ readonly }} class="form-control input-lg" id="staticEmail" name="salary" value="{{user.salary}}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <br>

                <span class="btn btn-warning" id="back">Regresar</span>

                {% if readonly %}
                <button class="btn btn-success pull-right" value="test">Edit</button>
                {% else %}
                <button class="btn btn-primary pull-right" value="test">save</button>

                {% endif %}
                {# Two <input class="btn pull-right" value="test2"> #}
            </div>
        </div>
    </form>





        </div>

    </div>
    </div>

{% endblock %}
{% block scripts %}

<script>
document.getElementById("back").addEventListener("click", regresar);

function regresar(){
     window.location.href='http://clientsl.local/users';
}

</script>

    {% endblock %}