{% extends 'Demo/Base.twig' %}

{% block title %}{{title is defined ? title : 'not defined'}}{% endblock %}

{% block head %}
{# <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/> #}

{# <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script> #}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-1.12.4.js"></script>

<style>
/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin-top: 10px;
    float: left;
    padding: 0px 12px;
    {# border: 1px solid #ccc; #}
    width: 80%;
    border-left: none;
    {# height: 300px; #}
}
</style>
{% endblock %}
{% block container %}




<div class="container">

{% if messages.edited is defined %}
    {% for message in messages.edited %}
<div class="alert  alert-success " >
{{message}}
    </div>
    {% endfor %}
{% endif %}

{% if message_error is defined %}
    {% for message in message_error %}
<div class="alert  alert-success " >
{{message}}
    </div>
    {% endfor %}
{% endif %}



    <div class="row content text-left">
            <h1>Employee Details</h1>
     <br><br>   
        <div class="col-sm-11 text-left">


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Datos Personales</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Datos Laborales</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Contrasena</button>
</div>

<div id="London" class="tabcontent">
  {% if readonly %}
        {% set path = path_for('userEdit',{'id':id})  %}
    {% else %}
        {% set path =  path_for('userSave',{'id':id})  %}
    {% endif %}
    <form method="POST" action="{{ path }}">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1 col-form-label">CURP</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="firstname" name="firstname" value="{{'qucr84939483jfdhfnm98'|upper}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1 col-form-label">Name</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="firstname" name="firstname" value="{{user.firstname|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Middle Name</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="lastname" name="lastname" value="{{user.lastname|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="lastname" name="lastname" value="{{user.lastname|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="position" name="position" value="{{user.position|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Zip Code</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="city" name="city" value="{{user.city}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Address</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="startdate" name="startdate" value="{{user.city}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Brithdate</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="salary" name="salary" value="{{user.startdate}}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-11 col-md-offset-1 ">
                <br>

                <span class="btn btn-warning" id="back">Regresar</span>

                {% if readonly %}
                <button class="btn btn-success pull-right" value="test">Edit</button>
                {% else %}
                <button class="btn btn-primary pull-right" value="test">save</button>

                {% endif %}
                {# Two <input class="btn pull-right" value="test2"> #}
            </div>
        </div>
    </form>

</div>

<div id="Paris" class="tabcontent">

    {% if readonly %}
        {% set path = path_for('userEdit',{'id':id})  %}
    {% else %}
        {% set path =  path_for('userSave',{'id':id})  %}
    {% endif %}
    <form method="POST" action="{{ path }}">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1 col-form-label">NSS</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="firstname" name="firstname" value="{{213232434|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="textfield" class="col-sm-2  col-md-offset-1 col-form-label">Status</label>
            <div class="col-sm-9">
                    <select name="s2" {{ readonly }} id="s2" class='form-control select2-me input-lg' style="width:250px;">
                        <option value="01">Activo</option>
                        <option value="02">Inactivo</option>
                    </select>
                </div>
            </div>
        
        
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Sucursal</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="lastname" name="lastname" value="{{user.city|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Position</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="lastname" name="lastname" value="{{user.position|ucwords}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2  col-md-offset-1  col-form-label">Salary</label>
            <div class="col-sm-9">
                <input type="text" {{ readonly }} class="form-control input-lg" id="position" name="position" value="{{user.salary|ucwords}}">
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-11 col-md-offset-1 ">
                <br>

                <span class="btn btn-warning" id="back">Regresar</span>

                {% if readonly %}
                <button class="btn btn-success pull-right" value="test">Edit</button>
                {% else %}
                <button class="btn btn-primary pull-right" value="test">save</button>

                {% endif %}
                {# Two <input class="btn pull-right" value="test2"> #}
            </div>
        </div>
    </form>

</div>

    <div id="Tokyo" class="tabcontent">


        {# <h2>Vertical (basic) form</h2> #}
        <form action="/action_page.php">
        
            <div class="form-group row">
                <label for="oldpwd" class="col-sm-2  col-md-offset-1  col-form-label">Old Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control input-lg" id="oldpwd" placeholder="Enter old password" name="oldpwd">
                </div>
            </div>
            <div class="form-group row">
                <label for="pwd" class="col-sm-2  col-md-offset-1  col-form-label">Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control input-lg" id="pwd" placeholder="Enter password" name="pwd">
                </div>
            </div>
            <div class="form-group row">
                <label for="pwd" class="col-sm-2  col-md-offset-1  col-form-label">Retype Password:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control input-lg" id="repwd" placeholder="Enter password" name="repwd">
                </div>
            </div>
            <div class="form-group row pull-right">
            {# <div class="col-sm-11 col-md-offset-1 "> #}
                <br>
            <button type="submit" class="btn btn-default">Cambiar</button>
            {# </div> #}
        </form>



        {# <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-th"></span>
                                Change password   
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br>
                                <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                                </div>
                                <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                                <div class="form-group">
                                    <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input class="form-control" type="password" placeholder="Current Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    <input class="form-control" type="password" placeholder="New Password">
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6"></div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <button class="btn icon-btn-save btn-success" type="submit">
                                    <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}

    

    </div>

</div>
</div>

{% endblock %}
{% block scripts %}

<script>
document.getElementById("back").addEventListener("click", regresar);

function regresar(){
     window.location.href='http://clientsl.local/system/users';
}

</script>




<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
    {% endblock %}